---
description: 'Configure ingress'

parameters:
  contour:
    description: 'Deploy Contour'
    type: Boolean
    default: true

  certmanager:
    description: 'Deploy cert-manager'
    type: Boolean
    default: true

  ca:
    description: 'Deploy CA config'
    type: Boolean
    default: true

steps:
  - description: 'Deploy Contour'
    plan: 'nest::kubernetes::deploy'
    parameters:
      service: 'ingress'
      app: 'contour'
      chart: 'contour/contour'
      namespace: 'projectcontour'
      repo_url: 'https://projectcontour.github.io/helm-charts/'
      version: '0.1.0'
      wait: true
      deploy: $contour

  - description: 'Install cert-manager'
    plan: 'nest::kubernetes::deploy'
    parameters:
      service: 'cert-manager'
      app: 'cert-manager'
      chart: 'oci://quay.io/jetstack/charts/cert-manager'
      namespace: 'cert-manager'
      version: '1.19.1'
      wait: true
      deploy: $certmanager

  - description: 'Configure self-signed CA'
    plan: 'nest::kubernetes::deploy'
    parameters:
      service: 'eyrie-ca'
      app: 'scratch'
      namespace: 'cert-manager'
      deploy: $ca
